<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="db_connection" connectionString="server=81.25.82.40; port=5432; user id=dbmanager; password=miun4EVER; database=excalibur"
         providerName="Npgsql" />
  </connectionStrings>
</configuration>